<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_data</key>
	<dict>
		<key>sound</key>
		<string>unmute</string>
		<key>controller_position</key>
		<string>right</string>
		<key>top_score</key>
		<string>0</string>
		<key>top_level</key>
		<string>0</string>
		<key>pvp_init_duration</key>
		<string>60</string>
		<key>pvp_max_duration</key>
		<string>60</string>
		<key>levels</key>
		<array>
			<string>100</string>
			<string>220</string>
			<string>360</string>
			<string>520</string>
			<string>700</string>
			<string>900</string>
			<string>1120</string>
			<string>1360</string>
			<string>0</string>
		</array>
		<key>just_failed</key>
		<string>false</string>
		<key>has_payed</key>
		<string>false</string>
	</dict>
	<key>animation_data</key>
	<dict>
		<key>special_skull_sound</key>
		<string>skull.wav</string>
		<key>special_time_sound</key>
		<string>time.wav</string>
		<key>special_life_sound</key>
		<string>life.wav</string>
		<key>special_score_sound</key>
		<string>score.wav</string>
		<key>special_stop_sound</key>
		<string>stop.wav</string>
		<key>score_sound_file</key>
		<string>success.wav</string>
		<key>reset_sound_file</key>
		<string>bzzzt.wav</string>
		<key>special_strong_sound</key>
		<string>strong.wav</string>
		<key>background_sound_file</key>
		<string>busy.wav</string>
		<key>levelup_sound_file</key>
		<string>level_up.wav</string>
		<key>horn_sound_files</key>
		<array>
			<string>horn0.wav</string>
			<string>horn1.wav</string>
			<string>horn2.wav</string>
		</array>
		<key>player_move_animation</key>
		<array>
			<string>player0.png</string>
			<string>player1.png</string>
			<string>player2.png</string>
		</array>
		<key>special_stop_animation</key>
		<array>
			<string>stop0.png</string>
		</array>
		<key>special_haste_animation</key>
		<array>
			<string>haste0.png</string>
		</array>
		<key>special_strong_animation</key>
		<array>
			<string>strong0.png</string>
		</array>
		<key>special_life_animation</key>
		<array>
			<string>life0.png</string>
		</array>
		<key>special_time_animation</key>
		<array>
			<string>time0.png</string>
		</array>
		<key>special_skull_animation</key>
		<array>
			<string>skull0.png</string>
		</array>
		<key>special_score_animation</key>
		<array>
			<string>score0.png</string>
		</array>
		<key>special_police_animation</key>
		<array>
			<string>jail.png</string>
		</array>
		<key>explode_animation</key>
		<dict>
			<key>number_of_pictures</key>
			<string>16</string>
			<key>interval</key>
			<string>0.05</string>
		</dict>
	</dict>
	<key>play_scene_data</key>
	<array>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>20</string>
			<key>max_duration</key>
			<string>20</string>
			<key>duration_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>3.1</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>4.6</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>3</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5.7</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>2.5</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>3.1</string>
					<key>speed</key>
					<string>3.2</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5.6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>18</string>
			<key>max_duration</key>
			<string>18</string>
			<key>duration_increase</key>
			<string>9</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>3.3</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>4.8</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.9</string>
					<key>speed</key>
					<string>2.6</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.6</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.9</string>
					<key>speed</key>
					<string>3.3</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.1</string>
					<key>speed</key>
					<string>5.7</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.1</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>17</string>
			<key>max_duration</key>
			<string>17</string>
			<key>duration_increase</key>
			<string>8</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.7</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.4</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>16</string>
			<key>max_duration</key>
			<string>16</string>
			<key>duration_increase</key>
			<string>8</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.1</string>
					<key>speed</key>
					<string>5.1</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.7</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>15</string>
			<key>max_duration</key>
			<string>15</string>
			<key>duration_increase</key>
			<string>8</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.7</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>5.6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>14</string>
			<key>max_duration</key>
			<string>14</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>13</string>
			<key>max_duration</key>
			<string>13</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>12</string>
			<key>max_duration</key>
			<string>12</string>
			<key>duration_increase</key>
			<string>6</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>11</string>
			<key>max_duration</key>
			<string>11</string>
			<key>duration_increase</key>
			<string>6</string>
			<key>special_interval</key>
			<string>12</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>10</string>
			<key>max_duration</key>
			<string>10</string>
			<key>duration_increase</key>
			<string>5</string>
			<key>special_interval</key>
			<string>0</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.0</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>special_data</key>
	<dict>
		<key>stop</key>
		<dict>
			<key>duration</key>
			<string>2</string>
			<key>life</key>
			<string>2.5</string>
			<key>image_name</key>
			<string>stop0.png</string>
		</dict>
		<key>haste</key>
		<dict>
			<key>duration</key>
			<string>6</string>
			<key>life</key>
			<string>3.5</string>
			<key>image_name</key>
			<string>haste0.png</string>
			<key>speed_increase</key>
			<string>1.5</string>
		</dict>
		<key>strong</key>
		<dict>
			<key>duration</key>
			<string>2</string>
			<key>life</key>
			<string>2.5</string>
			<key>image_name</key>
			<string>strong0.png</string>
		</dict>
		<key>life</key>
		<dict>
			<key>duration</key>
			<string>0</string>
			<key>life</key>
			<string>4.5</string>
			<key>image_name</key>
			<string>life0.png</string>
			<key>time_increase</key>
			<string>5</string>
		</dict>
		<key>time</key>
		<dict>
			<key>duration</key>
			<string>10</string>
			<key>life</key>
			<string>6</string>
			<key>image_name</key>
			<string>time0.png</string>
		</dict>
		<key>skull</key>
		<dict>
			<key>duration</key>
			<string>0</string>
			<key>life</key>
			<string>3.5</string>
			<key>image_name</key>
			<string>skull0.png</string>
		</dict>
		<key>score</key>
		<dict>
			<key>duration</key>
			<string>8</string>
			<key>life</key>
			<string>5</string>
			<key>image_name</key>
			<string>score0.png</string>
			<key>interval</key>
			<string>1</string>
			<key>score_increase</key>
			<string>2</string>
		</dict>
		<key>police</key>
		<dict>
			<key>duration</key>
			<string>2</string>
			<key>image_name</key>
			<string>jail.png</string>
		</dict>
		<key>slow</key>
		<dict>
			<key>duration</key>
			<string>4</string>
			<key>image_name</key>
			<string>slow0.png</string>
			<key>up_acc_delta</key>
			<string>0.02</string>
			<key>down_acc_delta</key>
			<string>0.01</string>
		</dict>
	</dict>
</dict>
</plist>
