<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_data</key>
	<dict>
		<key>sound</key>
		<string>unmute</string>
		<key>controller_position</key>
		<string>right</string>
		<key>top_score</key>
		<string>0</string>
		<key>last_level</key>
		<string>0</string>
		<key>pvp_init_duration</key>
		<string>60</string>
		<key>pvp_max_duration</key>
		<string>60</string>
		<key>levels</key>
		<array>
			<string>100</string>
			<string>220</string>
			<string>360</string>
			<string>520</string>
			<string>700</string>
			<string>900</string>
			<string>1120</string>
			<string>1360</string>
			<string>0</string>
		</array>
		<key>just_failed</key>
		<string>0</string>
		<key>has_payed</key>
		<string>false</string>
		<key>user_name</key>
		<string>Penguin</string>
		<key>password</key>
		<string>Penguin#</string>
	</dict>
	<key>animation_data</key>
	<dict>
		<key>special_skull_sound</key>
		<string>skull.wav</string>
		<key>special_time_sound</key>
		<string>time.wav</string>
		<key>special_life_sound</key>
		<string>life.wav</string>
		<key>special_score_sound</key>
		<string>score.wav</string>
		<key>special_stop_sound</key>
		<string>stop.wav</string>
		<key>special_bless_sound</key>
		<string>bless.wav</string>
		<key>special_police_sound</key>
		<string>police.wav</string>
		<key>special_slow_sound</key>
		<string>slow.wav</string>
		<key>special_fast_sound</key>
		<string>fast.wav</string>
		<key>special_curse_sound</key>
		<string>curse.wav</string>
		<key>special_bomb_sound</key>
		<string>bomb.wav</string>
		<key>score_sound_file</key>
		<string>success.wav</string>
		<key>reset_sound_file</key>
		<string>bzzzt.wav</string>
		<key>special_strong_sound</key>
		<string>strong.wav</string>
		<key>special_allbad_sound</key>
		<string>allBad.wav</string>
		<key>special_small_sound</key>
		<string>small.wav</string>
		<key>special_noscore_sound</key>
		<string>noscore.wav</string>
		<key>game_over_sound</key>
		<string>gameOver.wav</string>
		<key>game_start_sound</key>
		<string>go.wav</string>
		<key>background_sound_file</key>
		<string>busy.wav</string>
		<key>levelup_sound_file</key>
		<string>level_up.wav</string>
		<key>horn_sound_files</key>
		<array>
			<string>horn0.wav</string>
			<string>horn1.wav</string>
			<string>horn2.wav</string>
		</array>
		<key>player_move_animation</key>
		<array>
			<string>player0.png</string>
			<string>player1.png</string>
			<string>player2.png</string>
		</array>
		<key>special_stop_animation</key>
		<array>
			<string>stop0.png</string>
		</array>
		<key>special_haste_animation</key>
		<array>
			<string>haste0.png</string>
		</array>
		<key>special_strong_animation</key>
		<array>
			<string>strong0.png</string>
		</array>
		<key>special_life_animation</key>
		<array>
			<string>life0.png</string>
		</array>
		<key>special_time_animation</key>
		<array>
			<string>time0.png</string>
		</array>
		<key>special_skull_animation</key>
		<array>
			<string>skull0.png</string>
		</array>
		<key>special_score_animation</key>
		<array>
			<string>score0.png</string>
		</array>
		<key>special_police_animation</key>
		<array>
			<string>jail.png</string>
		</array>
		<key>explode_animation</key>
		<dict>
			<key>number_of_pictures</key>
			<string>16</string>
			<key>interval</key>
			<string>0.05</string>
		</dict>
	</dict>
	<key>play_scene_data</key>
	<array>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>15</string>
			<key>max_duration</key>
			<string>15</string>
			<key>duration_increase</key>
			<string>8</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>16</string>
			<key>good_max</key>
			<string>time</string>
			<key>bad_max</key>
			<string>slow</string>
			<key>music</key>
			<string>01.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>3.1</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>4.6</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>3</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5.7</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>2.5</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>3.1</string>
					<key>speed</key>
					<string>3.2</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5.6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.35</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>15</string>
			<key>max_duration</key>
			<string>15</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>14</string>
			<key>good_max</key>
			<string>life</string>
			<key>bad_max</key>
			<string>curse</string>
			<key>music</key>
			<string>01.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>3.3</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>4.8</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.6</string>
					<key>init_position</key>
					<string>{1,0.3}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.1</string>
					<key>speed</key>
					<string>5.7</string>
					<key>init_position</key>
					<string>{1,0.4}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.9</string>
					<key>speed</key>
					<string>2.6</string>
					<key>init_position</key>
					<string>{0,0.5}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.9</string>
					<key>speed</key>
					<string>3.3</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{0,0.7}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.4</string>
					<key>period</key>
					<string>2.1</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>14</string>
			<key>max_duration</key>
			<string>14</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>12</string>
			<key>good_max</key>
			<string>skull</string>
			<key>bad_max</key>
			<string>bomb</string>
			<key>music</key>
			<string>23.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{1,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2.7</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2.4</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{0,0.6}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.45</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>14</string>
			<key>max_duration</key>
			<string>14</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>10</string>
			<key>good_max</key>
			<string>double</string>
			<key>bad_max</key>
			<string>bomb</string>
			<key>music</key>
			<string>23.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>2.7</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>2.1</string>
					<key>speed</key>
					<string>5.1</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.5</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>13</string>
			<key>max_duration</key>
			<string>13</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>10</string>
			<key>good_max</key>
			<string>double</string>
			<key>bad_max</key>
			<string>allBad</string>
			<key>music</key>
			<string>45.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>2.7</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>2.2</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>5.8</string>
					<key>init_position</key>
					<string>{0,0.6}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>2.4</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.55</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>5.6</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>13</string>
			<key>max_duration</key>
			<string>13</string>
			<key>duration_increase</key>
			<string>7</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>9</string>
			<key>good_max</key>
			<string>small</string>
			<key>bad_max</key>
			<string>allBad</string>
			<key>music</key>
			<string>45.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.4}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.6</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.8}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>13</string>
			<key>max_duration</key>
			<string>13</string>
			<key>duration_increase</key>
			<string>6</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>9</string>
			<key>good_max</key>
			<string>small</string>
			<key>bad_max</key>
			<string>fast</string>
			<key>music</key>
			<string>6.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.3}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.65</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>4</string>
						<string>2</string>
						<string>3</string>
						<string>5</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>12</string>
			<key>max_duration</key>
			<string>12</string>
			<key>duration_increase</key>
			<string>6</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>8</string>
			<key>good_max</key>
			<string>bless</string>
			<key>bad_max</key>
			<string>fast</string>
			<key>music</key>
			<string>78.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>2</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.5}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>3</string>
						<string>4</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>2</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.7</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>0</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>player_wait_image</key>
			<string>player0.png</string>
			<key>lane_number</key>
			<string>8</string>
			<key>player_init_speed</key>
			<string>4</string>
			<key>player_start_acc_speed</key>
			<string>0.16</string>
			<key>player_stop_acc_speed</key>
			<string>0.04</string>
			<key>init_duration</key>
			<string>12</string>
			<key>max_duration</key>
			<string>12</string>
			<key>duration_increase</key>
			<string>6</string>
			<key>score_increase</key>
			<string>10</string>
			<key>special_interval</key>
			<string>8</string>
			<key>good_max</key>
			<string>bless</string>
			<key>bad_max</key>
			<string>noscore</string>
			<key>music</key>
			<string>78.wav</string>
			<key>lane_descriptions</key>
			<array>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>3.4</string>
					<key>init_position</key>
					<string>{0,0.1}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2.3</string>
					<key>speed</key>
					<string>5</string>
					<key>init_position</key>
					<string>{0,0.2}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2.6</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{0,0.3}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>1.8</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{0,0.4}</string>
					<key>direction</key>
					<string>left2right</string>
					<key>car_numbers</key>
					<array>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2.5</string>
					<key>speed</key>
					<string>2.8</string>
					<key>init_position</key>
					<string>{1,0.5}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>3</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2.8</string>
					<key>speed</key>
					<string>3.5</string>
					<key>init_position</key>
					<string>{1,0.6}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>1</string>
						<string>4</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2</string>
					<key>speed</key>
					<string>6</string>
					<key>init_position</key>
					<string>{1,0.7}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>6</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
					</array>
				</dict>
				<dict>
					<key>special_chance</key>
					<string>0.75</string>
					<key>period</key>
					<string>2.0</string>
					<key>speed</key>
					<string>2.2</string>
					<key>init_position</key>
					<string>{1,0.8}</string>
					<key>direction</key>
					<string>right2left</string>
					<key>car_numbers</key>
					<array>
						<string>2</string>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>special_data</key>
	<dict>
		<key>stop</key>
		<dict>
			<key>duration</key>
			<string>2.5</string>
			<key>life</key>
			<string>3</string>
			<key>image_name</key>
			<string>stop0.png</string>
			<key>name</key>
			<string>STOP</string>
			<key>description</key>
			<string>This skill will stop cars in front
you for a very short time</string>
			<key>order</key>
			<string>0</string>
		</dict>
		<key>time</key>
		<dict>
			<key>duration</key>
			<string>10</string>
			<key>life</key>
			<string>6.5</string>
			<key>image_name</key>
			<string>time0.png</string>
			<key>name</key>
			<string>TIME
STOP</string>
			<key>description</key>
			<string>Time does not count down 
when you have this skill</string>
			<key>order</key>
			<string>1</string>
		</dict>
		<key>strong</key>
		<dict>
			<key>duration</key>
			<string>3</string>
			<key>life</key>
			<string>3.5</string>
			<key>image_name</key>
			<string>strong0.png</string>
			<key>name</key>
			<string>SUPER
MAN</string>
			<key>description</key>
			<string>You are not afraid of anything for
a few seconds, so just HURRY !!!</string>
			<key>order</key>
			<string>2</string>
		</dict>
		<key>life</key>
		<dict>
			<key>duration</key>
			<string>0.0</string>
			<key>life</key>
			<string>5</string>
			<key>image_name</key>
			<string>life0.png</string>
			<key>time_increase</key>
			<string>5</string>
			<key>name</key>
			<string>LIFE</string>
			<key>description</key>
			<string>This skill will give you a few more
seconds to spare and possibly increase
your time limit</string>
			<key>order</key>
			<string>3</string>
		</dict>
		<key>skull</key>
		<dict>
			<key>duration</key>
			<string>0.0</string>
			<key>life</key>
			<string>4</string>
			<key>image_name</key>
			<string>skull0.png</string>
			<key>name</key>
			<string>BOMB</string>
			<key>description</key>
			<string>This skill will blow out the most 
dangerous car from each lane</string>
			<key>order</key>
			<string>4</string>
		</dict>
		<key>double</key>
		<dict>
			<key>duration</key>
			<string>0.0</string>
			<key>life</key>
			<string>4.5</string>
			<key>image_name</key>
			<string>double0.png</string>
			<key>name</key>
			<string>DOUBLE</string>
			<key>description</key>
			<string>This skill will randomly generate 
2 other good skills on your way</string>
			<key>order</key>
			<string>5</string>
		</dict>
		<key>small</key>
		<dict>
			<key>duration</key>
			<string>12</string>
			<key>life</key>
			<string>5.5</string>
			<key>image_name</key>
			<string>small.png</string>
			<key>name</key>
			<string>SMALL</string>
			<key>description</key>
			<string>This skill will replace large cars
with small ones</string>
			<key>order</key>
			<string>6</string>
		</dict>
		<key>bless</key>
		<dict>
			<key>duration</key>
			<string>10</string>
			<key>life</key>
			<string>6</string>
			<key>image_name</key>
			<string>bless0.png</string>
			<key>chance</key>
			<string>1.0</string>
			<key>time_increase</key>
			<string>2</string>
			<key>score_increase</key>
			<string>6</string>
			<key>name</key>
			<string>BLESS</string>
			<key>description</key>
			<string>With this skill, bad skills do not 
affect you. Plus, you get time and score 
increase and get an extra good skill</string>
			<key>order</key>
			<string>7</string>
		</dict>
		<key>police</key>
		<dict>
			<key>duration</key>
			<string>2</string>
			<key>image_name</key>
			<string>jail.png</string>
			<key>name</key>
			<string>JAIL</string>
			<key>description</key>
			<string>This bad skill will freeze you 
for a very short time</string>
			<key>order</key>
			<string>8</string>
		</dict>
		<key>slow</key>
		<dict>
			<key>duration</key>
			<string>4</string>
			<key>image_name</key>
			<string>slow0.png</string>
			<key>up_acc_delta</key>
			<string>0.06</string>
			<key>down_acc_delta</key>
			<string>0.02</string>
			<key>name</key>
			<string>SLOW</string>
			<key>description</key>
			<string>This bad skill will slow you 
down for a few seconds</string>
			<key>order</key>
			<string>9</string>
		</dict>
		<key>curse</key>
		<dict>
			<key>duration</key>
			<string>8</string>
			<key>image_name</key>
			<string>curse0.png</string>
			<key>time_decrease</key>
			<string>1</string>
			<key>name</key>
			<string>CURSE</string>
			<key>description</key>
			<string>With this bad skill, you will fail
to acquire good skills except BLESS</string>
			<key>order</key>
			<string>10</string>
		</dict>
		<key>bomb</key>
		<dict>
			<key>duration</key>
			<string>6</string>
			<key>image_name</key>
			<string>bomb0.png</string>
			<key>deadline</key>
			<string>5.5</string>
			<key>name</key>
			<string>TIME
BOMB</string>
			<key>description</key>
			<string>This is a time bomb and it will be 
disarmed after you cross street
before timeout</string>
			<key>order</key>
			<string>11</string>
		</dict>
		<key>allBad</key>
		<dict>
			<key>duration</key>
			<string>12</string>
			<key>image_name</key>
			<string>allBad0.png</string>
			<key>special_chance</key>
			<string>1</string>
			<key>time</key>
			<string>18</string>
			<key>percent</key>
			<string>0.5</string>
			<key>name</key>
			<string>WORSE</string>
			<key>description</key>
			<string>This bad skill will make every
car carry a bad skill and every
bad skill will last 50% longer</string>
			<key>order</key>
			<string>12</string>
		</dict>
		<key>fast</key>
		<dict>
			<key>duration</key>
			<string>6</string>
			<key>image_name</key>
			<string>fast.png</string>
			<key>speed_increase</key>
			<string>0.2</string>
			<key>name</key>
			<string>MORE</string>
			<key>description</key>
			<string>More cars will show up when
you are affected by this bad skill</string>
			<key>order</key>
			<string>13</string>
		</dict>
		<key>noscore</key>
		<dict>
			<key>duration</key>
			<string>16</string>
			<key>image_name</key>
			<string>noscore.png</string>
			<key>name</key>
			<string>NO SCORE</string>
			<key>description</key>
			<string>With this bad skill, you will not
be able to score for a long time</string>
			<key>order</key>
			<string>14</string>
		</dict>
	</dict>
</dict>
</plist>
