<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>car1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>car2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>car3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>car4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,116},{262,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,33}}</string>
                <key>sourceSize</key>
                <string>{262,33}</string>
            </dict>
            <key>car5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{351,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,36}}</string>
                <key>sourceSize</key>
                <string>{351,36}</string>
            </dict>
            <key>car6.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,116},{145,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,32}}</string>
                <key>sourceSize</key>
                <string>{145,32}</string>
            </dict>
            <key>frog0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,70},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>frog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,36},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>frog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfd6dc610b64c793eb9f44f9be7eff20$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
